<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head> <!-- Link to CSS Page, Remember to open style.css and html at the same time -->
    <title>RateMyRestroom</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <style>
        #map{
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>
    <main>
    <!-- title of website -->
    <h1>RateMyRestroom</h1>

    <!-- Navigation Bar-->
    <!-- attach link to "default.asp" and "about.asp"-->
    <ul>    
        <li><a class="active" href="default.asp">Home</a></li>
        <li style="float:right"><a href="about.asp">About</a></li>  
    </ul>
        <div id="map"></div>
        <script>
            //creates the map image 
            function initMap(){
                var options = {
                    zoom: 17,
                    center: { lat:37.3193, lng:-122.0448}
                }
                var map = new google.maps.Map(document.getElementById("map"), options);
                /*
                const marker = new google.maps.Marker({
                    position: { lat:37.320868, lng:-122.047968 },
                    map: map,
                });
                
                var infoWindow = new google.maps.InfoWindow({
                    content:'<h1> MLC restroom </h1>'
                });
                marker.addListener('click',function(){
                    infoWindow.open(map,marker);
                });
                */
            addMarker({
                coords:{ lat:37.320868, lng:-122.047968 },
                content:'<h1> MLC Restroom </h1>' 
                
            });
            addMarker({
                coords:{ lat:37.321975, lng:-122.046190},
                content:'<h1> A1 Building Restrooms</h1>' 


           });
           //add a marker on the map
           //use content
           function addMarker(props){
               const marker = new google.maps.Marker({
                   position:props.coords,
                   map: map,
                });
                if (props.content){
                    var infoWindow = new google.maps.InfoWindow({
                        content:props.content
                    });
                    marker.addListener('click',function(){
                        infoWindow.open(map,marker);
                    });
                }
            }
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXsIX0NFkiPp2Y9rnYIDxu1Lcw-JJDzBc&callback=initMap">
        
    </script>
    
    </main>
    <div class="ratingsystem">
        <div class = "box">
            <p>Rate the restroom</p>
            <div class = "rating">
                <input type = "radio" name = "rating" id = "rate5"><label for  = "rate5"></label></label>
                <input type = "radio" name = "rating" id = "rate4"><label for  = "rate4"></label></label>
                <input type = "radio" name = "rating" id = "rate3"><label for  = "rate3"></label></label>
                <input type = "radio" name = "rating" id = "rate2"><label for  = "rate2"></label></label>
                <input type = "radio" name = "rating" id = "rate1"><label for  = "rate1"></label></label>
                
            </div>
        </div>
    </div>
    <!-- This will be at the bottom of the website, upload your code above this-->
    <hr class="bottom-line">    
    <footer>
        <p class="credit">Created by:</p>
        <p class="credit"> Timothy Le</p>
        <p class="credit"> James Nguyen</p>
        <p class="credit"> Samuel Lo</p>
        <p class="credit"> Brian Liu</p>
    </footer>
</body>

</html>