/* Heading of Webiste */
h1 {
padding: 20px; 
color: white;
background-color: navy;
text-align: center;
margin-right: auto;
margin-left: auto;
}

/* Navigation Bar */
ul {
    list-style-type: none;
    margin-top: -15px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}
/* anything with <li> will be on the left and a border with the color white */
li {
 float: left;
 border-right: 3px solid white;
}
/* this puts the "About" section on the right with no border */
li:last-child{
    border-right: none;
}
/* Design of navigation bar */
li a {
    display:block;
    padding: 14px 16px;
    color:white;
    text-decoration: none;
    text-align: center;
}
/* color when you hover the navigation bar*/
li a:hover {
    background-color: navy;
}
/* Colors the active page on navigation bar */
.active {
    background-color: darkblue;
}

/* Color of website page*/
body {
    background-color: #FAF9F6;
}

/* Bottom line */
.bottom-line {
    margin-top: 20px;
    height: 2px;
    background-color: navy;
}

.credit {
    display:inline-block;
}
.ratingsystem
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: arial;
    
}
.box
{
    width: 250px;
}
p
{
    margin: 0;
    padding: 0;
    font-size: 24px;
}
.rating
{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    background: linear-gradient(to right, #f00, #ff0, #0f0);

}
.rating input
{
    display: none;
}
.rating label
{
    display: block;
    cursor: pointer;
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background: #fff;
    color: #000;
    font-size: 20px;
    border-right: 1px solid #000;
  
} 
.rating input[type="radio"]:hover ~ label,
.rating input[type="radio"]:checked ~ label
{ 
    background: transparent;
}